{% extends "layout.html" %}
{% block main %}

<div class="container p-3 d-flex justify-content-center align-items-center" style="height: 50vh;">
    <p class="text-center display-6">About us</p>
</div>

<div class="full-width-div d-flex align-items-center bg-info" style="height: 70vh;">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="row g-4">
                    <div class="col-lg-6">
                        <p class="fs-6 fw-bold">Our mission</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="fs-6 fw-light">
                            Volt Kits is a sports good manufacturing company spurred by the infusion of healthy and active lifestyle into everyday living.
                            Our mission is to equip individuals to become the best at taking life a step at a time and winning along the way, challenges regardless. Hence, our mantra “kit your dreams”.
                            We are poised at developing specialty sportswear with top quality products and evolving technologies.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="full-width-div d-flex align-items-center" style="height: 70vh;">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="row g-4">
                    <div class="col-lg-6">
                        <p class="fs-6 fw-bold">The 3ps</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex flex-column gap-3">
                            <div>
                                <span class="d-block fw-semibold  fs-6">Pride</span>
                                <span class="fw-light">
                                    Because we are athletes ourselves, the pride of being comfortable in your wears is as important as following the dream itself.
                                </span>
                            </div>

                            <div>
                                <span class="d-block fw-semibold fs-6">Prestige</span>
                                <span class="fw-light">
                                    To arouse widespread respect anywhere you step into while you kit your dreams.
                                </span>
                            </div>

                            <div>
                                <span class="d-block fw-semibold fs-6">Passion</span>
                                <span class="fw-light">
                                    To unearth the undying spirit of excellence and drive towards fulfilling your dreams.
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}
